// Font
$mainFont: 'Overpass', sans-serif;
$subFont: 'Source Sans Pro', sans-serif;


// Main color
$background-color: #fff;
$primary-color: #ef6c00;
$secondary-color: #283593;

//size

$container: 1170px;

