@import "utils/reset";
@import "utils/var";
@import "components/App/App";
@import "components/Header/header";
@import "components/intro/intro";
@import "components/About_me/about_me";
@import "components/Requirements/requirements";
@import "components/Users/users";
@import "components/Register/register";


.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;
}

//@import "utils/reset";
//@import "components/header";
//@import "components/intro";
//@import "components/features";
//@import "components/works";
//@import "components/team";
//@import "components/reviews";
//@import "components/download";
//@import "components/footer";
//
//@import "utils/mixins";